p,h1,h3,li {
  font-family: "Bebas Neue";
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 30px;

  
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
    font-size: 30px;
  }

  .thumbnail {
      object-fit: cover;
      width: auto;
      height: 200px;
      
  }

  img.shadow {
    max-width: 300px;
    max-height: 300px;
  }

  hr {
    border: 0; 
    border-top: 2px solid black;

  }

  .hero-unit {
    margin-bottom: 25px;
    font-family: "Bebas Neue", cursive;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    
  }

  .hero-unit h1 {
    padding: 50px;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    background-color:  #5BBFDF;
    font-family: "Bebas Neue", cursive;
  }

  .hero-unit h2 {
    padding: 10px;
    margin-bottom: 0;
    font-size: 35px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgb(191, 236, 251);
    font-family: "Bebas Neue", cursive;

  }

  .hero-unit h3 {
    padding: 10px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 1px; 
    text-align: left;
  }

  .container {
    max-width: 900px;
    margin: 30px auto;
    border-radius: 8px;
    padding: 40px;
    font-size: 25px;
  }

  .comment {
    display: block;
    transition: all 1s;
  }
  .commentClicked {
    min-height: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
  }

  .container textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 70%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
  }

  button.primaryContained {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 40px;
    border-radius: 5px;
  }

  button.primaryContained:hover {
    background: #94d0dc;
  }

  .mainbox{
    left: 47%;
    position: absolute;
  }
  label{
    position: relative;
    background: #fff;
    height: 50px;
    width: 150px;
    border-radius: 35px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    color: #0984e3;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  label:hover{
  letter-spacing: 1px;
  }
  label::before{
    content: 'Cancel';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    border-radius: 35px;
    opacity: 0;
  }
  #check{
    display: none;
  }
  #check:checked ~ label::before{
    opacity: 1;
  }
  .media-icons{
    position: absolute;
    left: 50%;
    top: -120px;
    transform: translateX(-50%);
    background: #fff;
    width: 140%;
    height: 110%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 35px;
    padding: 4px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  #check:checked ~ .media-icons{
    opacity: 1;
    pointer-events: auto;
    top: -84px;
  }
  .media-icons::before{
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    left: 50%;
    background: #fff;
    bottom: -9px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
  }
  .media-icons a{
    font-size: 22px;
    color: #0984e3;
    transition: all 0.3s ease;
  }
  .media-icons a:hover{
    transform: translateY(-2px);
  }
  .media-icons a:nth-child(1):hover{
    color: #426782;
  }
  .media-icons a:nth-child(2):hover{
    color: #1da1f2;
  }
  .media-icons a:nth-child(3):hover{
    color: #e1306c;
  }
  .media-icons a:nth-child(4):hover{
    color: #ff0000;
  }