body {
    font-family: "Bebas Neue";
    font-size: 1.9rem;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
    
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    background-color: #00539CFF;
    border-color: #00539CFF;
    
    }

.btn:hover {
    border-color: #00539CFF;
    background-color: #00539CFF;
}

.btn:focus {
    border-color: #EEA47FFF;
    background-color: #EEA47FFF;
}
.btn:active {
    border-color: #EEA47FFF;
    background-color: #EEA47FFF;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
	margin-left: 10px;
	margin-right: 10px;
}