<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cooking Blog with Patrick, Maya and Erin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

  
  <!--<script src = "../javascript/javarecipe.js"></script>-->
  <link rel="stylesheet" href = "../cssFiles/main.css">

</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../htmlFiles/index.html">Cooking Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="../htmlFiles/index.html">Home</a></li>
        <li class="active"><a href="../htmlFiles/gallery.html">Recipes</a></li>
        <li><a href="../htmlFiles/contact.html">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../htmlFiles/loginSignupForm.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Tres Chefes</h1>      
    <p>Welcome to our cooking blog! </p>
  </div>
</div>

<main> 
  <div class="hero-unit">
    <h1><b>Homemade Everything Bagels</b></h1>
  </div>
    
<!--Intro-->
  <div class="row">
    <div class="col-md-5">
      <img src ="../imgFiles/everythingBagel.jpeg" alt="Bagels" height="900" width = "700">
    </div> 

    <div class="col col-md-5" >
      <img src="../imgFiles/whisk-silhouette-1.png"  width="200px" height="150px" class="center-block img-fluid" /></a>

        <p class="text-center-blogs" >PREP: 1 hour 30 min</p>
          </div>
      
        <div class=" col col-md-5">
          <img src="../imgFiles/timer.png" width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center-blogs">Cook: 35 min </p>
          </div>
      
        <div class="col-md-auto col-md-5">
          <img src="../imgFiles/serving.png" width="200px" height="150px" data-modal="#modal-youtube" class="center-block img-fluid" style="cursor: pointer; " />
          <p class="text-center-blogs"> Servings: 8 Bagels </p>
        </div>

        <div class=" col col-md-5">
          <img src="../imgFiles/difficulty.jpg" width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center-blogs">Rating: 5/5</p>
        </div>
    </div>

<!--Ingredients-->
    <div class="hero-unit">
      <h2><b>Ingredients</b></h2>

      <h3>
        <p><b><i>Yeast Mixture</i></b></p>
            <ul>
              <li>1 1/2 tbsp Active dry yeast</li>
              <li>1 tbsp Sugar</li>
              <li>2 1/4 cup Warm water</li>
            </ul>
          <hr>
          <p><b><i>Dough</i></b></p>
            <ul>
              <li>5 cups All purpose flour </li>
              <li>2 tsp Kosher salt</li>
              <li>3 tbsp Light Brown Sugar packed</li>
            </ul>
          </hr>
          <hr>
          <p><b><i>Boiling Water</i></b></p>
            <ul>
              <li>1/4 cup Light Brown Sugar  </li>
              <li>1 Pot Water</li>
          </ul>
          </hr>
          <hr>
          <p><b><i>Toppings</i></b></p>
            <ul>
              <li>Everything Bagel Seasoning</li>

         </ul>
         </hr>
         <hr>
        <p><b><i>Egg Wash</i></b></p>
            <ul>
              <li>1 Egg</li>
              <li>2 tbsp Water</li>
            </ul>
          </hr>

      </h3>
    </div>

<!-- Instructions-->
    <div class="hero-unit">
      <h2><b>Instructions</b></h2>

      <h3>
        <p><b><i>Prepare Your Yeast Mixture</i></b></p>
        <ol>
          <li>Add your yeast, warm water, and sugar together in a bowl. Cover with a damp paper towel, and allow to sit for 10 minutes. </li>
        </ol>
        <p>&nbsp</p>
        <hr>
        <p><b><i>Prepare the Dough</i></b></p>
        <ol>
            <li>While your yeast is resting, add all of your flour, brown sugar, and salt to a separate bowl and whisk together.</li>
            <li>After 10 minutes, add your yeast mixture to the rest of your ingredients.</li>
            <li>Take a large mixing spoon and roughly combine your dough ingredients.</li>
            <li>Once your dough has shaped into a rough dough ball, take it out of your bowl and on to a lightly floured surface</li>
            <li>Now, you can use a stand mixer – but if you don't have one, with lightly floured or oiled hands, knead your dough for 10- 15 minutes until smooth.</li>
            <li>I highly recommend sticking with just 5 cups of flour, but ofc there are many factors that play into how much flour you may need. If you feel like your dough is far too sticky add an extra 1/2 cup. If it has shaped well into a ball with just 5 cups of flour (still slightly sticky) just oil your hands a bit and continue to knead. It will eventually come together beautifully.</li>
            <li>Next, separate your dough into 8 dough balls. Cover with a damp, clean towel and allow to rest for 15 minutes</li>
        </ol>
        </hr>

        <p>&nbsp</p>
        <hr>
        <p><b><i>Shape Your Bagels</i></b></p>
        <ol>
            <li>After 15 minutes, take your index finger and press a hole through the center of each dough ball.</li>
            <li>To further improve the bagel shape, lightly flour your hands and rotate your dough in a circular motion – slightly stretching the dough without ruining the overall shape of our bagels. (watch video above for a visual)</li>
            <li>Add a square cut out of parchment paper under each bagel as you finish shaping them. This step will be extremely helpful once we begin boiling our bagels.</li>
            <li>Cover your bagels once again with a clean, damp towel. Allow to rest for 30 minutes</li>
            <li>Preheat oven to 350° F (177° C).</li>
        </ol>
        </hr>

        <p>&nbsp</p>
        <hr>
        <p><b><i>Water Bath</i></b></p>
        <ol>
            <li>Fill a large pot with water, about 2 quarts. Whisk in your 1/4c brown sugar, and bring to a boil.</li>
            <li>Boil your bagels for 1 minute on each side. About 2-3 bagels at a time, you don't want to overcrowd your pot.</li>
        </ol>
        </hr>

        <p>&nbsp</p>
        <hr>
        <p><b><i>Baking your Bagels</i></b></p>
        <ol>
            <li>Add your boiled bagels to a prepared baking sheet.</li>
            <li>Optional, using a pastry brush, brush the egg wash on top and around the sides of each bagel. Provides an extra chewy and slightly more golden crust. Lastly, sprinkle on your everything bagel seasoning. The amount is up to you.</li>
            <li>Bake for 25-35 minutes. Every oven performs differently, keep a close eye on them. You want your bagels to be beautifully golden, but also not too deep in color.</li>
            <li>Remove from the oven and allow bagels to cool on the baking sheet for 10-15 minutes, then transfer to a wire rack to cool completely.</li>
            <li>Slice your bagel with a serrated knife, toast, and top with whatever you'd like!</li>
        </ol>
      </hr>

      </h3>
    </div>

    <div class="hero-unit">
      <h2>Enjoy!</h2>
    </div>


<!-- Share Button-->
    <div class="mainbox">
        <input type="checkbox" id="check">
        <label id="share" for="check">Share</label>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
<br>
<br>

<!--Comment Section-->
    <div class="hero-unit">
        <section id="app">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="comment">
                <p v-for="items in item" v-text="items"></p>
                  </div><!--End Comment-->
                  </div><!--End col -->
                  </div><!-- End row -->
              <div class="row">
                <div class="col-6">
              <textarea type="text" class="input" placeholder="Name" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <textarea type="text" class="input" placeholder="Email" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <textarea type="text" class="input" placeholder="Comment" v-model="newItem" @keyup.enter="addItem()" ></textarea>
              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </div><!-- End col -->
              </div><!--End Row -->
            </div><!--End Container -->
          </section><!-- end App -->



  
</main>

<footer class="container-fluid text-center">
  <p>Recipe and Image Credits go to Mariam (Her Food Influencer Handle is Mariyum)</p>
  <a target="_blank" href="https://mxriyum.com/">Click here to look at her blog!</a>
  <br>
  <br>
  <p>Note: We are portraying fictional cooking students. We are actually three computer science students in the Advanced Web Design class.</p>
</footer>

</body>
</html>
