<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cooking Blog with Patrick, Maya and Erin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>


  <script src = "../jsFiles/javarecipe.js"></script>
  <link rel="stylesheet" href = "../main.css">

</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Cooking Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="../htmlFiles/gallery.html">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Tres Chefes</h1>      
    <p>Welcome to our cooking blog! </p>
  </div>
</div>

<main> 
    <div class="hero-unit">
        <h1><b>Cheese Fatayer</b></h1>
    </div>

<!--Intro -->
    <div class="row">
        <div class="col-md-5">
            <img src ="../imgFiles/cheeseFatayer.jpeg" alt="Cheese Fatayer" height="900" width = "700">
          </div> 

        <div class="col col-md-5" >
          <img src="../imgFiles/whisk-silhouette-1.png"  width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;">PREP: 1 hour</p>
          </div>
      
        <div class=" col col-md-5">
          <img src="../imgFiles/timer.png" width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;">Cook: 30 min </p>
          </div>
      
        <div class="col-md-auto col-md-5">
          <img src="../imgFiles/serving.png" width="200px" height="150px" data-modal="#modal-youtube" class="center-block img-fluid" style="cursor: pointer; " />
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;"> Servings: 10 </p>
        </div>

        <div class=" col col-md-5">
          <img src="../imgFiles/difficulty.jpg" width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
        font-size: .85em;
        font-weight: 600;
        line-height: 1.5em;
        color: #212121;
        text-decoration: none;">Rating: 5/5</p>
        </div>
    </div>

    <div class="hero-unit">
<!--Ingredients-->
      <h2><b>Ingredients</b></h2>

      <h3>
        <p><b><i>Sponge</i></b></p>
            <ul>
              <li>1 tbsp Active dry yeast</li>
              <li>2 tbsp Sugar</li>
              <li>1 cup Warm water</li>
              <li>1 cup All purpose flour</li>
            </ul>
          <hr>
          <p><b><i>Dough</i></b></p>
            <ul>
              <li>1 1/2 cups All purpose flour </li>
              <li>2 tsp Kosher salt</li>
              <li>1/3 cup Olive oil</li>
            </ul>
          </hr>
          <hr>
          <p><b><i>Cheese Mixture</i></b></p>
            <ul>
              <li>3 cups Freshly grated mozzarella  </li>
              <li>1 1/4 cups Feta</li>
              <li>Handful Freshly chopped parsley</li>
          </ul>
          </hr>
          <hr>
          <p><b><i>Garlic Butter</i></b></p>
            <ul>
              <li>4 tbsp Unsalted butter</li>
              <li>1/2 tbsp Garlic powder</li>
              <li>1/4 tsp Kosher salt</li>
         </ul>
         </hr>
         <hr>
        <p><b><i>Egg Wash</i></b></p>
            <ul>
              <li>1 Egg</li>
              <li>2 tbsp Water</li>
            </ul>
          </hr>
          <hr>
          <p><b><i>Crust</i></b></p>
           <ul>
            <li>Handful Freshly grated mozzarella</li>
           </ul>
          </hr>
          
      </h3>
    </div>
  
<!--Instructions-->
    <div class="hero-unit">
      <h2><b>Instructions</b></h2>

      <h3>
        <p><b><i>Prepare the Sponge</i></b></p>
        <ol>
          <li>Mix together your yeast, sugar, warm water, and flour in a bowl. Cover with a damp paper towel, and allow to sit for 10 minutes. </li>
        </ol>
        <p>&nbsp</p>
        <hr>
        <p><b><i>Prepare the Dough</i></b></p>
        <ol>
          <li>After 10 minutes, add the rest of your flour (1 1/2 cups), salt, and olive oil to your sponge.</li>
          <li>Take a large wooden spoon and roughly combine dough ingredients.</li>
          <li>Now, you can use a stand mixer – but if you don't have one, with lightly oiled hands, knead your dough for 8-10 minutes on a clean and oiled work surface until smooth.</li>
          <li>Don't add any extra flour to this recipe. The dough will start off quite sticky, but after several minutes of kneading the dough on an oiled work surface – it will eventually come together beautifully.</li>
          <li>By limiting the amount of extra flour we add to the dough, we will be able to create a very fluffy, as well as airy bread for our cheese pies.</li>
          <li>Next, separate your dough into 10 dough balls (each around 62-65 grams in weight). Cover with a damp towel and allow to rest for 10 minutes.</li>
        </ol>
        </hr>

        <p>&nbsp</p>
        <hr>
        <p><b><i>Shape Your Cheese Pies</i></b></p>
        
        <ol>
          <li>After 10 minutes, lightly sprinkle flour on your work surface. Roll out each dough ball about a half an inch thick.</li>
          <li>Once you've rolled out your dough – its time to build the crust.</li>
          <li>Add a light amount of freshly grated mozzarella to the edges of your dough ( just plain mozzarella, not the filling we made). Start folding your dough over the mozzarella, pressing down to seal the edges. Watch video above for guidance.</li>
          <li>Fold the edges of your crust into a diamond shape, pinching the top and bottom of your dough to enforce the shape even more.</li>
          <li>Preheat oven to 425°f (218°C)</li>
        </ol>
        </hr>

        <p>&nbsp</p>
        <hr>
        <p><b><i>Baking Your Cheese Fatayer</i></b></p>
        <ol>
          <li>Add your stuffed, and shaped dough to a lined baking sheet.</li>
          <li>Brush egg wash on your crust, and brush garlic butter in the center of your dough.</li>
          <li>Fill your cheese pies with your cheese filling. Be generous! Your cheese mixture should be completely used up after filling your last cheese pie.</li>
          <li>Bake for 25-30 minutes. Every oven preforms differently, keep a close eye on them. You want the bottom of your pies, as well as your crust, to be beautifully golden.</li>
          <li>Remove from the oven and allow your Cheese Fatayer to cool for a couple minutes.</li>
          <li>Serve fresh with a nice cup of tea, and anything else you may enjoy!</li>
        </ol>
        </hr>
        <p>&nbsp</p>
        <hr>
        <p><b><i>Storage</i></b></p>
        <ol>
          <li>Cover any left over cheese pies tightly, or store them in an airtight container. Store at room temperature for a couple days, or in the refrigerator for about a week.</li>
        </ol>
      </hr>

      </h3>
    </div>

    <div class="hero-unit">
      <h2>Enjoy!</h2>

<!--Share -->
    <div class="mainbox">
        <input type="checkbox" id="check">
        <label for="check">Share</label>
   <div class="media-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
       <a href="#"><i class="fab fa-twitter"></i></a>
       <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>


<!--Comment-->
      <div class="hero-unit">
        <section id="app">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="comment">
                <p v-for="items in item" v-text="items"></p>
                  </div><!--End Comment-->
                  </div><!--End col -->
                  </div><!-- End row -->
              <div class="row">
                <div class="col-6">
              <textarea type="text" class="input" placeholder="Name" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <textarea type="text" class="input" placeholder="Email" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <textarea type="text" class="input" placeholder="Comment" v-model="newItem" @keyup.enter="addItem()" ></textarea>
              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </div><!-- End col -->
              </div><!--End Row -->
            </div><!--End Container -->
          </section><!-- end App -->


  
</main>

<footer class="container-fluid text-center">
  <p>Recipe and Image Credits go to Mariam (Her Food Influencer Handle is Mariyum)</p>
  <a target="_blank" href="https://mxriyum.com/">Click here to look at her blog!</a>
  <br>
  <br>
  <p>Note: We are portraying fictional cooking students. We are actually three computer science students in the Advanced Web Design class.</p>
</footer>

</body>
</html>
