<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cooking Blog with Patrick, Maya and Erin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
  <script src = "../jsFiles/javarecipe.js"></script>
  <link rel="stylesheet" href = "../main.css">

</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Cooking Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="../htmlFiles/gallery.html">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Tres Chefes</h1>      
    <p>Welcome to our cooking blog! </p>
  </div>
</div>

<main> 
    <div class="hero-unit">
        <h1><b>Pumpkin Snickerdoodles</b></h1>
    </div>

<!--Intro-->
    <div class="row">
        <div class="col-md-5">
            <img src ="../imgFiles/pumpkinSnickerdoodle.jpeg" alt="Bagels" height="900" width = "700">
          </div> 

        <div class="col col-md-5" >
          <img src="../imgFiles/whisk-silhouette-1.png"  width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;">PREP: 20 min</p>
          </div>
      
        <div class=" col col-md-5">
          <img src="../imgFiles/timer.png" width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;">Cook: 12 min </p>
          </div>
      
        <div class="col-md-auto col-md-5">
          <img src="../imgFiles/serving.png" width="200px" height="150px" data-modal="#modal-youtube" class="center-block img-fluid" style="cursor: pointer; " />
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;"> Servings: 10 Cookies</p>
        </div>

        <div class=" col col-md-5">
          <img src="../imgFiles/difficulty.jpg" width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
        font-size: .85em;
        font-weight: 600;
        line-height: 1.5em;
        color: #212121;
        text-decoration: none;">Rating: 4.2/5</p>
        </div>
    </div>

<!--Ingredients-->
    <div class="hero-unit">
      <h2><b>Ingredients</b></h2>

      <h3>
            <ul>
              <li>1 1/2 cups All purpose flour  </li>
              <li>1 1/2 tsp Pumpkin pie spice</li>
              <li>3/4 tsp Cinnamon</li>
              <li>1/2 tsp Baking soda</li>
              <li>1 tsp Cream of tartar</li>
              <li>1/2 tsp salt</li>

            </ul>
          <hr>
          <p><b><i>Wet Ingredients</i></b></p>
            <ul>
              <li>1 stick Unsalted butter, room temp </li>
              <li>1/2 cup Sugar</li>
              <li>1/4 cup Brown sugar</li>
              <li>1 Egg yolk</li>
              <li>1/4 cup Pumpkin puree/li>
              <li>1 1/2 tsp Vanilla extract</li>
            </ul>
          </hr>
          <hr>
          <p><b><i>Topping</i></b></p>
            <ul>
              <li>1/3 cup sugar</li>
              <li>1/2 tbsp cinnamon</li>
              <li>1/4 tsp Pumpkin pie spice</li>
          </ul>
          </hr>
          
      </h3>
    </div>

<!--Instructions-->
    <div class="hero-unit">
      <h2><b>Instructions</b></h2>

      <h3>
        <ol>
            <li>Preheat oven to 350°F (177°C). Line two large baking sheets with parchment paper, set aside.</li>
        </ol>
        <p>&nbsp</p>
        <hr>
        <p><b><i>Make Your Toppinge</i></b></p>
        <ol>
            <li>Combine the sugar, cinnamon, and pumpkin pie spice together in a small bowl. Set to the side</li>
        </ol>
        </hr>

        <p>&nbsp</p>
        <hr>
        <p><b><i>Prepare the Cookie Dough</i></b></p>
        <ol>
            <li>Mix together dry ingredients in a bowl. 1 1/2 cups AP flour, 1 1/2 tsp pumpkin pie spice, 3/4 tsp cinnamon, 1/2 tsp baking soda, 1 tsp cream of tartar, and the 1/2 tsp of salt. Set to the side.</li>
            <li>In a separate bowl, using a hand or stand mixer, beat your butter and sugar together for no less than 5 minutes. Add the egg yolk, pumpkin puree, and vanilla extract. Beat on medium-high speed until combined.</li>
            <li>Scrape down the sides of your bowl as needed.</li>
            <li>Add the dry ingredients to the wet ingredients. Fold together until well combined. Your dough will be quite thick.</li>
            <li>Roll cookie dough into 10 balls. Each weighing around 60 grams. Roll each cookie dough ball in cinnamon-sugar topping.</li>
            <li>Place a few inches apart on your baking sheet.</li>
            <li>Bake cookies for 12 minutes. The cookies will be very soft and tender fresh out of the oven. Allow to cool for 10 minutes on the baking sheet before transferring them to a wired rack.</li>
        </ol>
        </hr>

        <p>&nbsp</p>
        <hr>
        <p><b><i>How to Store</i></b></p>
        <ol>
            <li>Store the cookies in an airtight container. At room temperature, they should stay fresh for about a week.</li>
        </ol>
        </hr>


      </h3>
    </div>

    <div class="hero-unit">
      <h2>Enjoy!</h2>
<!--Share-->
<div class="mainbox">
    <input type="checkbox" id="check">
    <label for="check">Share</label>
    <div class="media-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
<!--Share-->
      <div class="hero-unit">
        <section id="app">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="comment">
                <p v-for="items in item" v-text="items"></p>
                  </div><!--End Comment-->
                  </div><!--End col -->
                  </div><!-- End row -->
              <div class="row">
                <div class="col-6">
              <textarea type="text" class="input" placeholder="Name" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <textarea type="text" class="input" placeholder="Email" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <textarea type="text" class="input" placeholder="Comment" v-model="newItem" @keyup.enter="addItem()" ></textarea>
              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </div><!-- End col -->
              </div><!--End Row -->
            </div><!--End Container -->
          </section><!-- end App -->


  
</main>

<footer class="container-fluid text-center">
  <p>Recipe and Image Credits go to Mariam (Her Food Influencer Handle is Mariyum)</p>
  <a target="_blank" href="https://mxriyum.com/">Click here to look at her blog!</a>
  <br>
  <br>
  <p>Note: We are portraying fictional cooking students. We are actually three computer science students in the Advanced Web Design class.</p>
</footer>

</body>
</html>