<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cooking Blog with Patrick, Maya and Erin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

  <script src = "../jsFiles/javarecipe.js"></script>
  <link rel="stylesheet" href = "../main.css">

</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Cooking Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="../htmlFiles/gallery.html">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Tres Chefes</h1>      
    <p>Welcome to our cooking blog! </p>
  </div>
</div>

<main> 
    <div class="hero-unit">
        <h1><b>Crumbl Snickerdoodle Cupcake Cookies</b></h1>
    </div>

<!--Intro-->
    <div class="row">
        <div class="col-md-5">
            <img src ="../imgFiles/crumblCookie.jpeg" alt="Snickerdoodle" height="900" width = "700">
          </div> 

        <div class="col col-md-5" >
          <img src="../imgFiles/whisk-silhouette-1.png"  width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;">PREP: 20 min</p>
          </div>
      
        <div class=" col col-md-5">
          <img src="../imgFiles/timer.png" width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;">Cook: 20 min </p>
          </div>
      
        <div class="col-md-auto col-md-5">
          <img src="../imgFiles/serving.png" width="200px" height="150px" data-modal="#modal-youtube" class="center-block img-fluid" style="cursor: pointer; " />
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;"> Servings: 12 Cookies </p>
        </div>

        <div class=" col col-md-5">
          <img src="../imgFiles/difficulty.jpg" width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
        font-size: .85em;
        font-weight: 600;
        line-height: 1.5em;
        color: #212121;
        text-decoration: none;">Rating: 4.3/5</p>
        </div>
    </div>
 
<!--Ingredients-->
    <div class="hero-unit">
      <h2><b>Ingredients</b></h2>

      <h3>
            <ul>
              <li>2 sticks cold unsalted butter chopped</li>
              <li>1 1/2 cups sugar</li>
              <li>2 eggs</li>
              <li>1 1/2 tsp vanilla extract</li>
              <li>2 3/4 cups all purpose flour</li>
              <li>2 tsp cream of tartar</li>
              <li>1 tsp baking soda</li>
              <li>1/2 tsp salt</li>
              <li>1/2 tsp cinnamon</li>
            </ul>
          <hr>
          <p><b><i>Cinnamon Sugar</i></b></p>
            <ul>
              <li>1/3 cup sugar</li>
              <li>1/2 -1 tbsp cinnamon </li>
            </ul>
          </hr>
          <hr>
          <p><b><i>Cream Cheese Frosting</i></b></p>
            <ul>
              <li>8 oz room temperature cream cheese</li>
              <li>6 tbsp room temperature unsalted butter</li>
              <li>1 tsp vanilla extract</li>
              <li>pinch of salt</li>
              <li>3 3/4 – 4 cups sifted powdered sugar</li>
          </ul>
          </hr>
          
      </h3>
    </div>

<!--Instructions-->
    <div class="hero-unit">
      <h2><b>Instructions</b></h2>

      <h3>
        <ol>
            <li>Add your cold butter and sugar to your mixer bowl attachment. You're going to want to beat them both together for about 5-10 minutes. The longer you beat them together the better your cookies will come out! If youre cookies come out dry you didn't mix them together long enough</li>
            <li>After about 5-10 minutes, add in your 2 whisked eggs and vanilla extract, mix together until well incorporated, about 1 minute. (making sure to scrape your bowl down as you go)</li>
            <li>Now add in the rest of your ingredients 🙂 Mix until well combined (making sure to scrape down your bowl as you go to ensure everything is well incorporated)</li>
            <li>Roll into 12 large cookies – roll them in your cinnamon sugar and add them to a prepared baking sheet (spray a pan with non-stick spray or butter to prevent your cookies from sticking)</li>
            <li>Bake at 350°F for 18 – 20 minutes for 12 large cookies 🙂 If you are making smaller or "regular" sized cookies – you can get away with about 18 – 24 cookies and bake for about 10-14 minutes</li>
            <li>Remember to keep your eyes on them – as every oven preforms differently</li>
        </ol>

        <p><b><i>Cream Cheese Frosting</i></b></p>
        <ol>
            <li>While your cookies are baking, beat your room temperature butter and cream cheese for 5 – 10 minutes or until light and fluffy (making sure to scrape down your bowl as you go)
                Add in the rest of your ingredients ( vanilla extract, salt, and powdered sugar) and mix together for another 5 minutes
                Add to a piping bag and set to the side</li>
            <li>Add in the rest of your ingredients ( vanilla extract, salt, and powdered sugar) and mix together for another 5 minutes</li>
            <li>Add to a piping bag and set to the side</li>
        </ol>
        <p><b><i>Cream Cheese Frosting</i></b></p>
        <ol>
            <li>Allow your cookies to completely cool before you pipe on your frosting :,) if you don't allow them to completely cool – your frosting will melt off.</li>
            <li>If you don't have a piping bag you can either smooth on your frosting with a butter knife – or you can add your frosting to a ziplock bag, and create a makeshift piping bag</li>
            <li>Top your finished cookies off with a little cinnamon sugar</li>
            <li>And you're done 🙂</li>
        </ol>
        

      </h3>
    </div>

    <div class="hero-unit">
      <h2>Enjoy!</h2>

      <!--Share-->
      <div class="mainbox">
        <input type="checkbox" id="check">
        <label for="check">Share</label>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

<!--Comment--> 
      <div class="hero-unit">
        <section id="app">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="comment">
                <p v-for="items in item" v-text="items"></p>
                  </div><!--End Comment-->
                  </div><!--End col -->
                  </div><!-- End row -->
              <div class="row">
                <div class="col-6">
              <textarea type="text" class="input" placeholder="Name" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <textarea type="text" class="input" placeholder="Email" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <textarea type="text" class="input" placeholder="Comment" v-model="newItem" @keyup.enter="addItem()" ></textarea>
              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </div><!-- End col -->
              </div><!--End Row -->
            </div><!--End Container -->
          </section><!-- end App -->


  
</main>

<footer class="container-fluid text-center">
  <p>Recipe and Image Credits go to Mariam (Her Food Influencer Handle is Mariyum)</p>
  <a target="_blank" href="https://mxriyum.com/">Click here to look at her blog!</a>
  <br>
  <br>
  <p>Note: We are portraying fictional cooking students. We are actually three computer science students in the Advanced Web Design class.</p>
</footer>

</body>
</html>
