<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cooking Blog with Patrick, Maya and Erin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

  <script src = "../jsFiles/javarecipe.js"></script>
  <link rel="stylesheet" href = "../main.css">

</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Cooking Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="../htmlFiles/gallery.html">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Tres Chefes</h1>      
    <p>Welcome to our cooking blog! </p>
  </div>
</div>

<main> 
    <div class="hero-unit">
        <h1><b>Walnut Katayif</b></h1>
    </div>

<!--Intro-->
    <div class="row">
        <div class="col-md-5">
            <img src ="../imgFiles/walnutKatayif.jpeg" alt="Bagels" height="900" width = "700">
          </div> 

        <div class="col col-md-5" >
          <img src="../imgFiles/whisk-silhouette-1.png"  width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;">PREP: 1 hour</p>
          </div>
      
        <div class=" col col-md-5">
          <img src="../imgFiles/timer.png" width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;">Cook: 30 min </p>
          </div>
      
        <div class="col-md-auto col-md-5">
          <img src="../imgFiles/serving.png" width="200px" height="150px" data-modal="#modal-youtube" class="center-block img-fluid" style="cursor: pointer; " />
          <p class="text-center" style="    text-transform: capitalize;
          font-size: .85em;
          font-weight: 600;
          line-height: 1.5em;
          color: #212121;
          text-decoration: none;"> Servings: 24 </p>
        </div>

        <div class=" col col-md-5">
          <img src="../imgFiles/difficulty.jpg" width="200px" height="150px" class="center-block img-fluid" /></a>
          <p class="text-center" style="    text-transform: capitalize;
        font-size: .85em;
        font-weight: 600;
        line-height: 1.5em;
        color: #212121;
        text-decoration: none;">Rating: 5/5</p>
        </div>
    </div>

<!--Ingredients-->
    <div class="hero-unit">
      <h2><b>Ingredients</b></h2>

      <h3>
            <ul>
              <li>2 Cups Fine Semolina</li>
              <li>1 Cup All Prupose Flour</li>
              <li>1/2 Tsp Salt</li>
              <li>1 Tbsp Yeast</li>
              <li>1 Tsp Baking Power</li>
              <li>1/2 Tsp Baking Soda</li>
              <li>1/2 Tbsp Orange Blossom Water</li>
              <li>3 Tbsp Sugar</li>
              <li>3 Tbsp Dry milk</li>
              <li>3 1/2 Cups Water </li>
            </ul>
          <hr>
          <p><b><i>Filling</i></b></p>
            <ul>
              <li>2 Cups Crushed walnuts</li>
              <li>1 Cup Shredded coconut</li>
              <li>2 Tbsp Sugar</li>
              <li>2 Tbsp Cinnamon</li>
              <li>1/4 Tsp Nutmeg</li>

            </ul>
          </hr>
        
      </h3>
    </div>

<!--Instructions-->
    <div class="hero-unit">
      <h2><b>Instructions</b></h2>

      <h3>
        
        <ol>
            <li>Add all of your ingredients (for the batter) into a blender. Blend until smooth</li>
            <li>On a griddle ( 350°f) pour enough batter to create medium sized "pancakes", a little less than a quarter cup. Keep an eye on them, they shouldn't take longer than around 30 sec – 1 minute on the griddle. They cook fast since the batter is relatively thin</li>
            <li>Don't flip them! they'll cook all the way through without flipping</li>
            <li>Allow your "pancakes" to cool before filling them. While they are cooling down – mix together your filling in a bowl (walnuts, coconut, sugar, cinnamon, and nutmeg)</li>
            <li>Once cooled, add a spoonful of your filling (not too much, we still want to be able to pinch our Katayif closed without them ripping) but still be generous enough to where there's a happy filling to pancake ratio 🙂 </li>
            <li>Heat up your oil (vegetable oil) and fry your Katayif on low-medium heat until they develop a beautiful golden colo</li>
            <li>Serve with simple syrup while they are fresh & you're done :,)</li>
        </ol>
   

      </h3>
    </div>

    <div class="hero-unit">
      <h2>Enjoy!</h2>
      
<!--Share-->      
    <div class="mainbox">
        <input type="checkbox" id="check">
        <label for="check">Share</label>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      </div>

<!--Comment-->
      <div class="hero-unit">
        <section id="app">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="comment">
                <p v-for="items in item" v-text="items"></p>
                  </div><!--End Comment-->
                  </div><!--End col -->
                  </div><!-- End row -->
              <div class="row">
                <div class="col-6">
              <textarea type="text" class="input" placeholder="Name" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <textarea type="text" class="input" placeholder="Email" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <textarea type="text" class="input" placeholder="Comment" v-model="newItem" @keyup.enter="addItem()" ></textarea>
              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </div><!-- End col -->
              </div><!--End Row -->
            </div><!--End Container -->
          </section><!-- end App -->


  
</main>

<footer class="container-fluid text-center">
  <p>Recipe and Image Credits go to Mariam (Her Food Influencer Handle is Mariyum)</p>
  <a target="_blank" href="https://mxriyum.com/">Click here to look at her blog!</a>
  <br>
  <br>
  <p>Note: We are portraying fictional cooking students. We are actually three computer science students in the Advanced Web Design class.</p>
</footer>

</body>
</html>

